body {
    background-color: #0D0A1D;
    text-align: center;
    width: 1440px;
}
.logotext {
	margin-left: 10px;
}
header.Navigation {
	display: block;
	margin-left: 150px;
	margin-right: 150px;
    margin-top: 10px;
}
.inline-block {
    text-align: end;
    float: right;
    margin-left: 300px;
	margin-top: 10px;
    
}

.inline-block-logo {
    background-color:  #211A4A;
}

.inline-block li {
    display: inline-block;
    text-align: end;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #BAECEB;
    margin: 10px;
    cursor: default;
}

.inline-block-logo img {
    vertical-align: top;
    float: left;
    height: 86px;
    
	display: block;
}

.btn.btn-primary {
    --bs-btn-font-weight: 500;
    --bs-btn-color: black;
    --bs-btn-bg: #BAECEB;
    --bs-btn-hover-color: #BAECEB;
    --bs-btn-hover-bg: #7D73B2;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 75%;
    padding: 22px 33px;
  }

  h3 {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #BAECEB;
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-left: 15px;
  }
.sectionone {
    margin-top: 198px;
    display: block;
    height: 400px;
    margin-bottom: 10px;

}
.content h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #BAECEB;
}

.content h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #BAECEB;
}
.content.one {
	width: 100%;
    display: block;
    inline-size: 690px;
    text-align: left;
    float: left;
    margin-right: 100px;
    margin-left: 10px;
    padding-left: 225px;
    margin-top: 54px;
}

.sectiontwo {
	margin-top: 85px;
	display: block;
	height: 400px;
    margin-bottom: 10px;
}

.sectionthree {
    margin-top: 85px;
    display: block;
    height: 400px;
    margin-bottom: 10px;
    padding: 36px;
}

.content.two {
    width: 100%;
    display: block;
    text-align: left;
    float: right;
    inline-size: 366px;
    margin-top: -277px;
}

.content.three {
    width: 100%;
    display: block;
    inline-size: 690px;
    text-align: left;
    float: left;
    margin-right: 100px;
    margin-left: 10px;
    padding-left: 202px;
}

.content2headers {
    margin-left: 323px;
    inline-size: 366px;
}



.firstimage {
	width: 300px;
}

.img02 {
    width: 550px;
}

.img03 {
    width: 789px;
}


.imgcontainer {
	float: right;
    margin-right: 256px;
margin-bottom: 1200px;
margin-top: -60px;
}

.imgcontainer2 {
    float: left;
    margin-top: -124px;
    margin-left: 179px;
}

.imgcontainer3 {
    float: right;
    margin-right: -491px;
    margin-top: -238px;
    margin-left: -143px;
}

.bi-arrow-up {
	position: absolute;
	top: 0;
	left: 10px;
	color: #BAECEB;
}
.bi-arrow-down {
	position: absolute;
	top: 50px;
	left: 10px;
	color: #BAECEB;
}
.scrollbuttons {
	position: fixed;
	bottom: 35%;
	left: 2%;
	width: 50px;
	height: 100px;
	z-index: 13;
}
.line-1 {
    height: 2px;
    background: #BAECEB;
  }


.Footer {
    margin-top: 75px;
    color: #BAECEB;
    width: 100%;
    inline-size: 753px;
    margin-left: 285px;
    position: absolute;
    }

    .ExtraFoot {
        margin-left: 9px;
        margin-right: 74px;
    }

    footer.Footer h2 {
        margin-left: 185px;
    }

    .icons {
        margin-left:142px;
    }


    
    #intouch {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #BAECEB;
        margin-left: 169px;
    }
    
    #copy{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #BAECEB;
        text-decoration:underline;
        margin-left: 169px;
    }
    
    footer .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #0D0A1D;
        color: #BAECEB;
      }
    
      .fa-instagram {
        background: #0D0A1D;
        color: #BAECEB;
      }
    
      .fa-twitter {
        background: #0D0A1D;
        color: #BAECEB;
      }

      .burgerMenu {
        display: none;
        flex-direction: column;
        cursor: pointer;
      }
      
      .line {
        width: 25px;
        height: 3px;
        background-color: #BAECEB;
        margin-bottom: 5px;
      }
